name: Maven Tests

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Test & Package application
        run: mvn clean package

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: maven-target
          path: target/
